.actions {
  list-style: none;
}

.actions__item::before {
  display: block;
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("../img/ellipse.png");
  background-size: contain;
  background-repeat: no-repeat;
}
