.actions {
  width: 220px;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.actions__item {
  width: 163px;
  position: relative;
  margin-left: 57px;
  margin-bottom: 40px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.actions__rest,
.actions__brand,
.actions__appeal {
  display: block;
}

.actions__brand {
  color: @red;
}

.actions__appeal {
  text-transform: uppercase;
  color: @red;
}

.actions__rest {
  font-weight: 300;
}

.actions__item::before {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  padding-left: 14px;
  left: -53px;
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  background-image: url("../img/ellipse.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: @white;
  font-size: 30px;
  font-weight: 300;
}

.actions__button {
  width: 150px;
  background-color: red;
  display: block;
  color: @white;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 23px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

@media (min-width: @tablet-width) {
  .actions {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .actions__item {
    width: 163px;
  }
}

@media (min-width: @desktop-width) {
  .actions {
    position: relative;
    width: 320px;
    margin: 0;
  }

  .actions::after {
    display: block;
    position: absolute;
    width: 408px;
    height: 322px;
    top: 0;
    left: 230px;
    content: "";
    background-image: url("../img/sickle.png");
    background-size: 408px 322px;
    background-repeat: no-repeat;
  }

  .actions__item {
    width: 245px;
    margin-left: 78px;
    font-size: 24px;
  }

  .actions__item::before {
    width: 58px;
    height: 56px;
    padding-top: 6px;
    padding-left: 21px;
    left: -78px;
  }

  .actions__button {
    width: 255px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
  }
}
