.formula {
  padding-bottom: 40px;
}

.formula__headline {
  width: 290px;
  text-align: center;
  color: @red;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.formula__new {
  width: 100px;
  display: inline-block;
  text-transform: uppercase;
  border-top: 3px solid @red;
  border-bottom: 3px solid @red;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.formula__forward {
  width: 220px;
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.formula__image {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

@media (min-width: @tablet-width) {
  .formula {
    padding-bottom: 100px;
  }

  .formula__headline {
    width: 436px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
    text-align: left;
  }

  .formula__new {
    width: 153px;
    margin-left: 135px;
  }

  .formula__forward {
    width: 436px;
  }
}

@media (min-width: @desktop-width) {
  .formula {
    width: 458px;
  }

  .formula__headline {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 40px;
  }

  .formula__new {
    margin-left: 128px;
  }

  .formula__image {
    width: 439px;
    max-width: 100%;
    margin: 0;
  }
}
