.formula {
  padding-bottom: 40px;
}

.formula__headline {
  text-align: center;
  color: @red;
  font-size: 28px;
}

.formula__new {
  display: inline-block;
  text-transform: uppercase;
  border-top: 2px solid @red;
  border-bottom: 2px solid @red;
}

.formula__forward {
  display: inline-block;
}

.formula__image {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

@media (min-width: @tablet-width) {
  .formula {
    padding-bottom: 100px;
  }

  .formula__headline {
    width: 430px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
  }
}

@media (min-width: @desktop-width) {
  .formula {
    width: 458px;
  }

  .formula__headline {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
