.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 220px;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

.icons__link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 15px;
}

@media (min-width: @tablet-width) {
  .icons {
    width: 460px;
    flex-wrap: nowrap;
  }
}

@media (min-width: @desktop-width) {
  .icons__item {
    position: absolute;
    display: block;
    content: "";
  }

  .icons__item:nth-child(1) {
    top: 152px;
    left: 204px;
  }

  .icons__item:nth-child(2) {
    top: 154px;
    left: 278px;
  }

  .icons__item:nth-child(3) {
    top: 189px;
    left: 348px;
  }

  .icons__item:nth-child(4) {
    top: 248px;
    left: 381px;
  }

  .icons__item:nth-child(5) {
    top: 306px;
    left: 362px;
  }

  .icons__item:nth-child(6) {
    top: 389px;
    left: 294px;
  }

  .icons__item:nth-child(1) .icons__link {
    width: 100px;
    height: 100px;
  }

  .icons__item:nth-child(2) .icons__link {
    width: 99px;
    height: 99px;
  }

  .icons__item:nth-child(3) .icons__link {
    width: 85px;
    height: 85px;
  }

  .icons__item:nth-child(4) .icons__link {
    width: 84px;
    height: 84px;
  }

  .icons__item:nth-child(5) .icons__link {
    width: 101px;
    height: 100px;
  }

  .icons__item:nth-child(6) .icons__link {
    width: 101px;
    height: 100px;
  }
}
