.main {
  background-image: url("../img/bg-main.jpg");
  background-color: #e8f3f9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__question {
  width: 220px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: @colgate-regular;
  font-size: 35px;
  color: @red;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #00000036;
}

@media (min-width: @tablet-width) {
  .main {
    min-height: calc(100vh - 290px);
  }

  .main__question {
    width: initial;
    padding-top: 60px;
    margin-bottom: 60px;
    font-size: 43px;
  }
}

@media (min-width: @desktop-width) {
  .main {
    min-height: calc(100vh - 250px);
  }

  .main__container {
    width: @desktop-content;
    display: flex;
    margin: 0 auto;
  }
}
