.main {
  background-image: url("../img/bg-main.jpg");
  background-color: #e8f3f9;
}

.main__question {
  font-family: @colgate-regular;
  font-size: 35px;
  color: @red;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #00000057;
}
