.main {
  background-image: url("../img/bg-main.jpg");
  background-color: #e8f3f9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .main {
    min-height: calc(100vh - 290px);
  }
}

@media (min-width: @desktop-width) {
  .main {
    min-height: calc(100vh - 250px);
  }

  .main__container {
    width: @desktop-content;
    display: flex;
    margin: 0 auto;
  }
}
